.hotel-search {
  margin: auto;
  text-align: center;
}

.hotel-search__header2 {
  font-size: 21px;
  margin-top: 33px;
}

.hotel-search__description {
  font-size: 14px;
  line-height: 24px;
}

.hotel-search__button {
  width: 100%;
  background-color: @blue;
  display: block;
  font-weight: bold;
  color: @white;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 33px;
  margin-bottom: 49px;
}
