.hotel-search {
  margin: auto;
  text-align: center;
  width: 280px;

  .hotel-search__header2 {
    font-size: 21px;
    margin-top: 29px;
    font-family: @fontBold;
  }

  .hotel-search__description {
    font-size: 14px;
    line-height: 24px;
    color: @gray-black;
  }

  .hotel-search__button {
    width: 100%;
    background-color: @blue;
    display: block;
    font-family: @fontBold;
    color: @white;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 37px;
    margin-bottom: 49px;
    font-size: 21px;

    &:hover,
    &:focus {
      background-color: @blue-hover;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: @blue-down;
    }

    &:disabled {
      background-color: @gray-hover;
      color: @white;
    }
  }
}

@media (min-width: @tablet-width) {
  .hotel-search {
    width: 458px;

    .hotel-search__header2 {
      font-size: 30px;
      margin-top: 55px;
    }

    .hotel-search__button {
      margin-bottom: 59px;
    }
  }


  .hotel-search__description {
    margin-top: 31px;
    margin-bottom: 42px;
    line-height: 26px;
    width: 434px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    .hotel-search__description {
      margin-bottom: 47px;
    }

    .hotel-search__button {
      margin-bottom: 66px;
    }
  }
}
