.review {
  padding-bottom: 16px;
  border-bottom: 1px solid @gray-black;
}

.review__head {
  text-align: center;
  margin-top: 197px;
  margin-bottom: 23px;
}

.review__description {
  font-size: 14px;
  line-height: 24px;
  color: @gray-black;
  text-align: center;
  width: 276px;
  margin: auto;
}
