@import "hotel-search";
@import "variables";
@import "page-header";
@import "welcome-picture.less";
@import "navigation.less";
@import "description";
@import "advantages";
@import "lives";
@import "footer";
@import "photo";
@import "video";
@import "review";
@import "review-form";
@import "map";



body {
  font-size: 18px;
  line-height: 26px;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  color: black;
  background-color: @white-three;
  @font-reg();
}

.conteiner {
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: @white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation__list,
.lives,
.footer__list,
.photo__list {
  list-style: none;
}

@media (min-width: @tablet-width) {
  body {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    width: @desktop-width;
  }
}

