.video__header {
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 25px;
}

.video__description {
  font-size: 14px;
  line-height: 24px;
  color: @gray-black;
  text-align: center;
  width: 236px;
  margin: auto;
}

.video__img {
  margin-top: 34px;
}
