.welcome-picture--up {
  position: absolute;
  top: 0;
  margin-top: 48px;
  margin-bottom: 44px;
}

.welcome-picture__text {
  position: absolute;
  top: 365px;
  left: 20px;
}

.welcome-picture__text--inscription {
  z-index: 1;
  top: 196px;
}

.welcome-picture__tringle {
  position: absolute;
  left: 0;
  bottom: 7px;
}
